Repository wdhunter645/LGFC-WEBAPP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BILL, @DEV-BOT, @OPS-BOT

.github/CODEOWNERS:

# Code ownership and review rules
# Default owners
* @BILL @DEV-BOT

# Workflows (ops)
.github/workflows/ @OPS-BOT @BILL

# Scripts
/scripts/ @DEV-BOT @BILL

# App code
/src/ @DEV-BOT @BILL

chore: add dev-bot and ops-bot workflows
  .github/workflows/dev-bot.yml
  .github/workflows/ops-bot.yml
Owners: @OPS-BOT, @BILL

feat: add Dev-Ops issue creator and Ops-Bot daily report workflows
  .github/workflows/dev-ops-create-issue.yml
  .github/workflows/ops-bot-daily-report.yml
Owners: @OPS-BOT, @BILL

feat(ops-bot): include status labels and Next action from comments in daily report
  .github/workflows/ops-bot-daily-report.yml
Owners: @OPS-BOT, @BILL

feat: schedule ops-bot and dev-bot to 6am US/Eastern; add Dev-Bot daily plan
  .github/workflows/dev-bot-daily-plan.yml
  .github/workflows/ops-bot-daily-report.yml
Owners: @OPS-BOT, @BILL

chore(cursor): add agent rules for dev-bot and ops-bot; remove PR-maker workflows
  .cursor/rules/00-project-context.md
  .cursor/rules/10-dev-bot.md
  .cursor/rules/20-ops-bot.md
Owners: @BILL, @DEV-BOT

chore: remove manual PR-maker workflows (dev-bot, ops-bot)
  .github/workflows/dev-bot.yml
  .github/workflows/ops-bot.yml
Owners: @OPS-BOT, @BILL

Revert "chore: remove manual PR-maker workflows (dev-bot, ops-bot)"
  .github/workflows/dev-bot.yml
  .github/workflows/ops-bot.yml
Owners: @OPS-BOT, @BILL

feat: add Dev-Bot implementation loop and Ops-Bot alert loop (event+polling, 24/7 capable)
  .github/workflows/dev-bot-implementations.yml
  .github/workflows/ops-bot-alert-loop.yml
Owners: @OPS-BOT, @BILL

chore: remove Cursor config and redundant workflows (use GitHub-native loops only)
  .cursor/rules/00-project-context.md
  .cursor/rules/10-dev-bot.md
  .cursor/rules/20-ops-bot.md
  .github/workflows/dev-bot-daily-plan.yml
  .github/workflows/dev-bot.yml
  .github/workflows/dev-ops-create-issue.yml
  .github/workflows/ops-bot-daily-report.yml
  .github/workflows/ops-bot.yml
Owners: @BILL, @DEV-BOT, @OPS-BOT

chore(ops): scaffold job runbook and scripts (sample-job)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/policy-guard.yml
  .github/workflows/temp-fix-ttl.yml
  ops/jobs/sample-job/run.sh
Owners: @BILL, @DEV-BOT, @OPS-BOT

docs: add monitored Issues List with workflows to cover
  ISSUES_LIST.md
Owners: @BILL, @DEV-BOT

Update workflow trigger list in ops-bot alert loop configuration
  .github/workflows/ops-bot-alert-loop.yml
Owners: @OPS-BOT, @BILL

docs: add dev docs folder (policy requires updates on app changes)
  .github/workflows/ops-bot-alert-loop.yml
Owners: @OPS-BOT, @BILL
